@import "../App.scss";

.dot-indicators-container {
    @extend .padding-l;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.dot-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $offWhite;

    & + & {
        margin-top: 10px;
    }

    &:hover {
        cursor: pointer;
    }

    &--selected {
        background-color: $offWhite;
    }
}