@import "../App.scss";

.dot-indicators-container {
    position: absolute;
    padding: $sp-m;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.dot-indicator {
    width: $sp-m;
    height: $sp-m;
    border-radius: 50%;
    border: $outline-thickness solid $off-white;

    &:hover {
        cursor: pointer;
    }

    &--selected {
        background-color: $off-white;
    }
}

// Tablet+
@media (min-width: $tablet-width-min) {
    .dot-indicators-container {
        flex-direction: column;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .dot-indicator + .dot-indicator {
        margin-top: $sp-m;
    }
}

// Phone
@media (max-width: $phone-width-max) {
    .dot-indicators-container {
      flex-direction: row;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .dot-indicator + .dot-indicator {
        margin-left: $sp-m;
    }
}