@import "../App.scss";

.icon-link-container {
    @extend .link-remove-underline;
    @extend .padding-l;
    position: relative;
    display: grid;
    color: $offWhite;
    background: linear-gradient(to left, $green 50%, $darkGreen 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-left: 10px;
    transition: all 0.3s ease;
    border: 1px solid $offWhite;
    margin: 0;

    &:visited {
        color: $offWhite;
    }
    
    &:hover {
        background-position: left bottom;
    }

    span {
        color: $offWhite;
    }

    svg {
        color: $offWhite;
    }
}
