@import "../App.scss";

.lastfm-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr);
    gap: 1rem;
}

.lastfm-title {
    color: $off-white;
    font-size: $ft-xl;
    grid-column: span 3;
}

.grid-tiles-container {
    grid-row: 2 / 5;
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-tile {
    a {
        @extend .fill-parent;
        display: block;
    }

    position: relative;
    aspect-ratio: 1/1;
    display: block;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.grid-tile-overlay {
    @extend .flex-center;
    background-color: $opacity-black;
    color: $off-white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation: tile-hover-out 0.3s ease forwards;

    &:hover {
        animation: tile-hover-in 0.3s ease forwards;
    }
}

@keyframes tile-hover-in {
    from { opacity: 0; }
    to { opacity: 60%; }
}

@keyframes tile-hover-out {
    from { opacity: 60%; }
    to { opacity: 0; }
}

.lastfm-currently-listening {
    color: $off-white;
    grid-column: 4;
    grid-row: 2 / 5;
}