@import "../App.scss";

.lastfm-container {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    * {
        min-width: 0;
        min-height: 0;
    }
}

.lastfm-title {
    color: $off-white;
    font-size: $ft-xl;
}

.grid-tiles-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (min-aspect-ratio: 1/1) {
    .grid-tiles-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

.grid-tile {
    a {
        @extend .fill-parent;
        display: block;
    }

    position: relative;
    aspect-ratio: 1/1;
    display: block;

    img {
        width: 100%;
        height: 100%;
    }
}

.grid-tile-overlay {
    @extend .flex-center;
    background-color: $opacity-black;
    color: $off-white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation: tile-hover-out 0.3s ease forwards;

    &:hover {
        animation: tile-hover-in 0.3s ease forwards;
    }
}

@keyframes tile-hover-in {
    from { opacity: 0; }
    to { opacity: 60%; }
}

@keyframes tile-hover-out {
    from { opacity: 60%; }
    to { opacity: 0; }
}

.lastfm-currently-listening {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lastfm-img-container {
    min-width: auto;
    margin-right: $sp-m;
}

.lastfm-song {
    display: flex;

    & + & {
        margin-left: $sp-l;
    }
}

.lastfm-song-info > * {
    color: $off-white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.lastfm-song-name {
    font-weight: bold;
    font-size: $ft-lm;
}

.lastfm-artist-name {
    font-weight: bold;
}

.lastfm-time-played {
    font-size: $ft-ms;
}

.lastfm-user-info {
    color: $off-white;
}