@import "../App.scss";

.links-grid-container {
    @extend .fill-parent;
    padding: $sp-xl;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $sp-m;
}

.links-grid-item {
    justify-self: stretch;
}