@import "../App.scss";

.background-image-container {
  z-index: -1;
  position: absolute;
  font-size: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  img {
    @extend .fill-parent;
    object-fit: cover;
  }
}