@import "../App.scss";

.scroll-arrow {
  @extend .position-absolute; 
  @extend .off-white;
  font-size: 50px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  
  &--bottom {
    &--hidden {
      bottom: -1000px;
      animation: move 5s linear 5s infinite;
    }

    &--visible {
      bottom: 20px;
      animation: move 5s linear 5s infinite;
    }
  }

  &--top {
    &--hidden {
      top: -1000px;
      animation: move 5s linear 5s infinite;
    }

    &--visible {
      top: 20px;
      animation: move 5s linear 5s infinite;
    }
  }
}

@keyframes moveUp {
  from {
    bottom: -1000px;
  }
  to {
    bottom: 20px;
  }
}

@keyframes moveDown {
  from {
    top: 20px;
  }
  to {
    top: -1000px;
  }
}