// Flex layout

#root {
  width: 100vw;
  height: 100vh;
}

.root {
  @extend #root;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.center-child {
  text-align: center;
  * {
    line-height: 40;
  }
}

// Spacing

.relative-scroll {
  overflow-y: scroll;
}

.padding-xs {
  padding: 3px;
}

.padding-s {
  padding: 5px;
}

.padding-m {
  padding: 9px;
}

.padding-l {
  padding: 15px;
}

.padding-xl {
  padding: 24px;
}

// Background Image

.background-image-container {
  @extend .fill-parent;
  z-index: -1;
  position: absolute;
  font-size: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  img {
    @extend .fill-parent;
    object-fit: cover;
  }
}

// Text

.non-selectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.typing-title {
  @extend .non-selectable;
  color: #f3ebe1;
  font-family: monospace;
  font-size: large;
  white-space: pre-wrap;
}

// Card

.card {
  background-color: whitesmoke;
  opacity: 15%;
  padding: 5px;
  border-radius: 5px;

  * {
    opacity: 100%;
  }
}