@import "variables.scss";

// Flex layout

.view-box {
  width: 100vw;
  height: 100vh;
}

.scrollable {
  overflow-y: scroll;
}

html {
  overflow-y: hidden;
  @extend .view-box;
}

#root {
  @extend .view-box;
}

.root {
  @extend .view-box;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.fill-view {
  width: 100vw;
  height: 100vh;
}

.center-child {
  text-align: center;
  * {
    line-height: 40;
  }
}

// Spacing

.padding-xs {
  padding: 3px;
}

.padding-s {
  padding: 5px;
}

.padding-m {
  padding: 9px;
}

.padding-l {
  padding: 15px;
}

.padding-xl {
  padding: 24px;
}

// Background

.background-navy {
  background-color: $navy;
}

.background-green {
  background-color: $green;
}

.background-image-container {
  z-index: -1;
  position: absolute;
  font-size: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  img {
    @extend .fill-parent;
    object-fit: cover;
  }
}

.scroll-snap-container {
  scroll-snap-type: y mandatory;
  overscroll-behavior: contain;
}

.scroll-snap-child {
  scroll-snap-align: start;
}

// Text

.non-selectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.typing-title {
  @extend .non-selectable;
  color: #f3ebe1;
  font-family: monospace;
  font-size: large;
  white-space: pre-wrap;
}