// colours
$navy: #3E5E6C;
$green: #A2B37F;
$off-white: #F5F2D0;
$opacity-black: black;

// dimensions
$sp-xxs: 0.1rem;
$sp-xs: 0.3rem;
$sp-s: 0.6rem;
$sp-m: 1rem;
$sp-l: 2rem;
$sp-xl: 3rem;
$sp-xxl: 4rem;

$outline-thickness: 1.5px;
$phone-width-max: 580px;
$tablet-width-min: 581px;

// text
$ft-s: 0.5rem;
$ft-m: 1rem;
$ft-l: 2rem;
$ft-xl: 3rem;
$ft-xxl: 4rem;

$global-font-family: monospace;